@import "tailwindcss";

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@media print {
  .print\:hidden {
    display: none !important;
  }
  .hidden.print\:block {
    display: block !important;
  }
  body {
    background: white;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
